* {
  box-sizing: border-box;
}

body {
  margin: 0;
  }

.background {
  margin: 0;
  background-image: url(https://www.thedailymeal.com/sites/default/files/story/2017/shutterstock_270707900.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.text {
  margin: auto;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: justify;
  color: black;
  padding: 10px;
  z-index: 2;
  max-width: 600px;
  opacity: 1;
}

header h1 {
  margin: 0;
  font-family: Bookman, "Times New Roman", serif;
  font-size: 48px;
  text-align: center;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  font-family: Garamond, "Times New Roman", serif;
}

.container {
  position: relative;
  margin: 0 auto;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}